#h1{
    font-family: 'Francois One', sans-serif;  
}
body{
    background-color: rgb(49, 111, 225);
}
#Mdiv{
    background-color: whitesmoke;
    height: 12%;
    width:100%;
    position: fixed;
    bottom: 0;
}
#textBox{
    width: 67%;
}